html {
  scroll-behavior: smooth;
}

body {
  background-image: url("assets/lemons.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #cccccc;
}

p {
  word-break: break-all;
}

.dashed-border {
  border: 3px dashed black;
  border-radius: 1rem;
}

.blogpost-image {
  max-width: 50%;
}

#blogposts-list {
  list-style: none;
  max-width: 70%;
  margin: auto;
}

.blogpost-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blogpost-item {
  background-color: lightgray;
}

.blogpost-items {
  box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.67);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

.inputContainer {
  background-color: lightgray;
}

h1 {
  font-family: "Raleway", sans-serif;
}

#aside-post-list {
  position: absolute;
  left: 0;
  top: 0;
}

.inputContainer {
  position: relative;

  margin: auto;
}
