html {
  scroll-behavior: smooth;
}

.dashed-border {
  border: 3px dashed black;
  border-radius: 1rem;
  background-color: lightgray;
}

.blogpost-image {
  max-width: 50%;
  /*padding-right: 2rem;*/
}

#blogposts-list {
  list-style: none;
  background-color: lightgray;
}

.blogpost-item {
  background-color: lightgray;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
/*
.listContainer {
  background-color: pink;
} */
/*
.inputContainer {
  max-width: 70%;
} */
